.Navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eee;
    height: 50px;
}

.NavbarItems {
    display: flex;
    flex-direction: row-reverse;
}

.Navbar h1 {
    alignment: center;
}





