.MCQTableElement {
    border: 1px solid #eee;
    border-collapse: collapse;
}

.MCQTableElement:first-child div {
    border-top: 1px solid #eee;
}


.MCQTableElement div {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-collapse: collapse;
    display: flex;
    padding: 0 10px;
    align-items: center;


}

.Hover:hover {
    background-color: #d9effd;
    cursor: pointer;
    transition: 0.2s;
}

.MCQTableElement .CellOverflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

