.MCQ {
    width: 100%;
    overflow: auto;
    padding: 20px;
    text-align: left;
}

.MCQ hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px;
    padding: 0;
}

