.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout__topbar {
    height: 130px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

