.Toolbar {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 30px;

}

.Toolbar nav {
    height: 100%;
}

.Toolbar__Image {
    height: 90px;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
