* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {

  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
}

h1
{
  font-size: 2.2em;
}

h2
{
  font-size: 2.0em;
  font-weight: normal;
}

h3
{
  font-size: 1.8em;
}

h4
{
  font-size: 1.6em;
}

h5
{
  font-size: 1.4em;
}

p
{
  font-size: 1.1em;
}
